In [1]:
import pandas as pd
strategyA=pd.read_csv("strategyA.csv")
strategyA

   Unnamed: 0   A   B
0           1 NaN NaN
1           2 NaN NaN

In [2]:
import numpy as np
strategyAArray=np.array(strategyA)
strategyAArray

array([[ 1., nan, nan],
       [ 2., nan, nan]])

In [3]:
D_shape=np.array(strategyAArray.shape)
num=D_shape[0]
dem=int(D_shape[1])
num

2

In [4]:
import random
i=1
while i<dem:
    random.seed()
    rad=np.array([random.uniform(-1.0,1.0)for g in range(num)])
    strategyAArray[:,i]=rad
    i=i+1
strategyAArray

array([[1.        , 0.34014244, 0.32644517],
       [2.        , 0.3800896 , 0.05653381]])

In [5]:
strategyA=round(pd.DataFrame(strategyAArray,columns=['party','A','B']),2)
strategyA.to_csv('strategyA.csv',index = 0)
strategyA

   party     A     B
0    1.0  0.34  0.33
1    2.0  0.38  0.06