In [1]:
import pandas as pd
voterA=pd.read_csv("voterA.csv")
#Data=Data.set_index("People")
voterA

   People  A1 str  A2 str  B1 str  B2 str
0     1.0    0.19   -0.31   -0.79    0.63
1     2.0    0.65   -0.96    0.66   -0.01
2     3.0    0.62   -0.20   -0.54   -0.67
3     4.0    0.15   -0.54   -0.89    0.03
4     5.0   -0.11   -0.56   -0.28    0.62
5     6.0    0.24   -0.21   -0.05    0.88
6     7.0    0.44    0.11    0.02    0.17
7     8.0   -0.43   -0.36    0.81   -0.66
8     9.0   -0.33    0.43    0.17    0.12
9    10.0    0.77    0.07   -0.49   -0.76

In [2]:
import numpy as np
import random

In [3]:

voterAArray=np.array(voterA)
voterAArray

array([[ 1.  ,  0.19, -0.31, -0.79,  0.63],
       [ 2.  ,  0.65, -0.96,  0.66, -0.01],
       [ 3.  ,  0.62, -0.2 , -0.54, -0.67],
       [ 4.  ,  0.15, -0.54, -0.89,  0.03],
       [ 5.  , -0.11, -0.56, -0.28,  0.62],
       [ 6.  ,  0.24, -0.21, -0.05,  0.88],
       [ 7.  ,  0.44,  0.11,  0.02,  0.17],
       [ 8.  , -0.43, -0.36,  0.81, -0.66],
       [ 9.  , -0.33,  0.43,  0.17,  0.12],
       [10.  ,  0.77,  0.07, -0.49, -0.76]])

In [4]:
D_shape=np.array(voterAArray.shape)
num=D_shape[0]
dem=int(D_shape[1])
num

10

In [5]:

i=1
while i<dem:
    random.seed()
    rad=np.array([random.uniform(-1.0,1.0)for g in range(num)])
    voterAArray[:,i]=rad
    i=i+1
voterAArray

array([[ 1.00000000e+00,  1.20780736e-01, -5.01509995e-01,
         9.54305920e-01, -3.53806759e-01],
       [ 2.00000000e+00, -8.69242645e-01, -4.02141327e-01,
         6.66730813e-01, -2.11315876e-01],
       [ 3.00000000e+00,  1.74231566e-01, -6.05012383e-01,
         2.34290697e-01, -3.62958397e-02],
       [ 4.00000000e+00, -6.49151146e-01, -7.28670613e-01,
         2.25273846e-01,  7.29913497e-01],
       [ 5.00000000e+00, -1.37415667e-01, -1.76526904e-01,
        -4.73813454e-01, -2.29215115e-02],
       [ 6.00000000e+00, -5.78205953e-01,  1.39406151e-01,
         5.72301247e-02, -6.54394934e-01],
       [ 7.00000000e+00,  3.39312542e-01,  7.77656112e-02,
         6.64235669e-01,  9.11246683e-01],
       [ 8.00000000e+00, -8.37216401e-01, -4.20992568e-01,
         8.25645210e-01, -8.29227897e-01],
       [ 9.00000000e+00, -9.92541211e-01, -3.66572100e-01,
        -7.70190184e-01, -4.56611861e-01],
       [ 1.00000000e+01,  8.09916379e-01,  9.89715181e-01,
         4.64019806e-01,  4.44531204e-04]])

In [6]:
voterA=round(pd.DataFrame(voterAArray,columns=['People','A1 str','A2 str','B1 str','B1 str']),2)
voterA.to_csv('voterA.csv',index = 0)
voterA

   People  A1 str  A2 str  B1 str  B1 str
0     1.0    0.12   -0.50    0.95   -0.35
1     2.0   -0.87   -0.40    0.67   -0.21
2     3.0    0.17   -0.61    0.23   -0.04
3     4.0   -0.65   -0.73    0.23    0.73
4     5.0   -0.14   -0.18   -0.47   -0.02
5     6.0   -0.58    0.14    0.06   -0.65
6     7.0    0.34    0.08    0.66    0.91
7     8.0   -0.84   -0.42    0.83   -0.83
8     9.0   -0.99   -0.37   -0.77   -0.46
9    10.0    0.81    0.99    0.46    0.00