In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
#num=random.randrange(0, 101, 2)    隨機人數
num=10
peoples = list(range(1,num+1))
dem=2
L=list(range(65,dem+65))
Strategy=list("".join(chr(i) for i in L))
for i in range(dem):
    Strategy[i]="Strategy "+Strategy[i]
data=pd.DataFrame(columns=Strategy,index=peoples)
data

   Strategy A Strategy B
1         NaN        NaN
2         NaN        NaN
3         NaN        NaN
4         NaN        NaN
5         NaN        NaN
6         NaN        NaN
7         NaN        NaN
8         NaN        NaN
9         NaN        NaN
10        NaN        NaN

In [3]:
dataArray=np.array(data)

In [4]:
import random
for i in range(dem):
    random.seed()
    rad=np.array([random.uniform(-1.0,1.0)for g in range(num)])
    dataArray[:,i]=rad
dataArray

array([[-0.5707956503717857, 0.9949461711089678],
       [0.9829649293564169, 0.8105096538637238],
       [0.037602908197632345, 0.02581119203678406],
       [-0.907684824755133, 0.4933374377609743],
       [0.7297681887979655, -0.4667316572238762],
       [0.9067066863614759, 0.9571923307246841],
       [-0.24657789964077637, 0.48748700340965256],
       [-0.4325752424425291, 0.08439075171442312],
       [-0.15337006778256757, -0.4825144935734651],
       [-0.2940938996991034, 0.41265295749179143]], dtype=object)

In [5]:
voterA=pd.DataFrame(dataArray,columns=Strategy,index=peoples)
voterA.to_csv('voterA.csv',index = 0)
voterA

   Strategy A Strategy B
1   -0.570796   0.994946
2    0.982965    0.81051
3    0.037603   0.025811
4   -0.907685   0.493337
5    0.729768  -0.466732
6    0.906707   0.957192
7   -0.246578   0.487487
8   -0.432575   0.084391
9    -0.15337  -0.482514
10  -0.294094   0.412653