In [26]:
import pandas as pd
Data=pd.read_csv("Data.csv")
#Data=Data.set_index("People")
Data

   People   A   B
0       1 NaN NaN
1       2 NaN NaN
2       3 NaN NaN
3       4 NaN NaN
4       5 NaN NaN
5       6 NaN NaN
6       7 NaN NaN
7       8 NaN NaN
8       9 NaN NaN
9      10 NaN NaN

In [27]:
import numpy as np
DataArray=np.array(Data)
DataArray

array([[ 1., nan, nan],
       [ 2., nan, nan],
       [ 3., nan, nan],
       [ 4., nan, nan],
       [ 5., nan, nan],
       [ 6., nan, nan],
       [ 7., nan, nan],
       [ 8., nan, nan],
       [ 9., nan, nan],
       [10., nan, nan]])

In [31]:
D_shape=np.array(DataArray.shape)
num=D_shape[0]
dem=int(D_shape[1])
num

10

In [32]:
i=1
while i<dem:
    random.seed()
    rad=np.array([random.uniform(-1.0,1.0)for g in range(num)])
    DataArray[:,i]=rad
    i=i+1
DataArray

array([[ 1.        ,  0.19504444,  0.85005736],
       [ 2.        , -0.41286551,  0.02068965],
       [ 3.        , -0.65286885,  0.4868162 ],
       [ 4.        ,  0.17671126,  0.81530543],
       [ 5.        ,  0.20415062,  0.99898346],
       [ 6.        ,  0.48191604, -0.11495358],
       [ 7.        , -0.54191024,  0.90997776],
       [ 8.        , -0.85582493, -0.45138528],
       [ 9.        , -0.16596383,  0.23780941],
       [10.        ,  0.9475522 , -0.74005163]])

In [33]:
Data=round(pd.DataFrame(DataArray,columns=['People','A','B']),2)
Data

   People     A     B
0     1.0  0.20  0.85
1     2.0 -0.41  0.02
2     3.0 -0.65  0.49
3     4.0  0.18  0.82
4     5.0  0.20  1.00
5     6.0  0.48 -0.11
6     7.0 -0.54  0.91
7     8.0 -0.86 -0.45
8     9.0 -0.17  0.24
9    10.0  0.95 -0.74